<section class="journal-page-content">
  <section class="truth-option-description">
    {{{renderedDescription}}}
    {{#if system.Subtable}}
    <table>
      <thead>
        <th>{{localize 'IRONSWORN.OracleTable.ColumnLabel.Roll'}}</th>
        <th>{{localize 'IRONSWORN.OracleTable.ColumnLabel.Result'}}</th>
      </thead>
      <tbody>
        {{#each system.Subtable}}
          <tr>
            <td>{{Floor}}—{{Ceiling}}</td>
            <td>{{Result}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  </section>
  <section class="truth-quest-starter">
    <h2>{{localize 'IRONSWORN.QuestStarter'}}</h2>
    {{{system.Quest}}}
  </section>
</section>
